

<!-- ========================= FOOTER ========================= -->

<!--<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-">
				<!--<p class="text-muted"> &copy 2022 Company name </p>--
        <h3 style="font-weight: 500;" class="contact-head">GET IN TOUCH</h3>
        <h4 style="font-weight: 400;">Your health comes first
        </h4>
        <p>We provides quality products to our customer<br>you can contact us for any feedback</p>

			</div>

			<div class="col-md-8 text-md-center">
        <h4 style="font-weight: 600;">Follow Us </h4>
        <i class="fa fa-facebook-official w3-hover-opacity icons"  ></i>
        <i class="fa fa-instagram w3-hover-opacity icons" ></i>
        <i class="fa fa-snapchat w3-hover-opacity icons"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity icons" ></i>
        <i class="fa fa-twitter w3-hover-opacity icons"></i>
        <i class="fa fa-linkedin w3-hover-opacity icons"></i>

				<!--<span  class="px-2">ausadhipasal@co.np</span>
				<span  class="px-2">+977 981231234</span>
				<span  class="px-2">Nepal</span>--
			</div>
			<div class="col-md-2 text-md-right text-muted">
        <h4 style="font-weight: 600;">CONTACT INFO</h4>
        <p> <i class="fa fa-phone " style="margin-right: 8px;font-size: 20px;"></i> 061-12871</p>
        <p><i class="fa fa-phone" style="margin-right: 8px;font-size: 20px;"></i>061-134521</p>
        <!--<label><i class="fa fa-envelope " style=" margin-center: 5px;font-size: 20px;"></i></label>
        <input placeholder="Email" class="w3-margin-top" type="email"/>-->
        <!--
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>--
			</div>
		</section>
	</div><!-- //container -->
<!--</footer>-->

<!--
<div class="w3-center contact" id="contact" >
    <div class=" w3-left-align w3-margin-top contact-info ">
       <h3 style="font-weight: 800;" class="contact-head">GET IN TOUCH</h3>
       <h4 style="font-weight: 600;">Your health comes first
       </h4>
       <p>We provides quality products to our customer<br>you can contact us for any feedback</p>
       <h4 style="font-weight: 600;">Follow Us </h4>

     <i class="fa fa-facebook-official w3-hover-opacity icons"  ></i>
     <i class="fa fa-instagram w3-hover-opacity icons" ></i>
     <i class="fa fa-snapchat w3-hover-opacity icons"></i>
     <i class="fa fa-pinterest-p w3-hover-opacity icons" ></i>
     <i class="fa fa-twitter w3-hover-opacity icons"></i>
     <i class="fa fa-linkedin w3-hover-opacity icons"></i>
    </div>
    <div class="w3-right-align w3-margin-top contact-info" >
             <div class="w3-margin-to  w3-left-align" >
              <h4 style="font-weight: 600;">CONTACT INFO</h4>
              <p> <i class="fa fa-phone " style="margin-right: 8px;font-size: 20px;"></i> 763-957-6781</p>
              <p><i class="fa fa-phone" style="margin-right: 8px;font-size: 20px;"></i>706-734-2591</p>
              <label><i class="fa fa-envelope " style=" margin-right: 5px;font-size: 20px;"></i></label>
             <input placeholder="Email" class="w3-margin-top" type="email"/>
             <br>
             <br>
           </div>
    </div>-->
<!-- ========================= FOOTER END // ========================= -->
<footer class="bg-light text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example27" class="form-control" />
              <label class="form-label" for="form5Example27">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Send mail
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://ausadhipasalonline.com/">AusadhiPasal.com</a>
  </div>
  <!-- Copyright -->
</footer>
